name: Deploy to GitHub Pages

on:
  push:
    branches: ["main"]   # Trigger on main branch
  workflow_dispatch:     # And manually if needed

permissions:
  contents: write    # Permission to write to repository content (needed for gh-pages branch)

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'
          cache-dependency-path: 'app/package-lock.json'  # Specify path to lock file

      - name: Install Dependencies
        run: |
          cd app
          npm ci

      - name: Build Project
        run: |
          cd app
          npm run build

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./app/dist   # The folder built by 'npm run build'
